<%- include('../partials/header') %>

<body>
    <%- include('../partials/navbar', {active: 1, page: "logado"}) %>

    <div class="user-data h-screen">
        <img src="/assets/user_default_pfp.png" alt="Foto do perfil">
        <h2><%= nome %></h2>
        <span><%= email %> | <%= numero_camisa %></span>
    </div>
    <style>
        .user-data {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        h2 {
            font-size: 2.5em;
        }
        span {
            color: #CBD0D9;
            margin-top: -9px;
        }

        @media query and (min-width: 800px) {
            h2 {
                font-size: 4em;
            }
            span {
                margin-top: -15px;
            }
        }
    </style>
</body>
</html>
