<%- include('../partials/header', {title: "Editar jogador"}) %>

<body>
    <%- include('../partials/navbar', {active: 1, page: "logado"}) %>

    <main class="content-center h-screen">
        <div class="form-container manage">
            <h1>Editar Jogador</h1>
            <form action="/jogador/<%= id %>/editar" method="post">
                <div class="inputs">
                    <div class="input">
                        <input type="text" name="nome" placeholder=" " value="<%= nome %>">
                        <label for="nome">Nome completo</label>
                    </div>
                    <div class="input">
                        <input type="email" name="email" placeholder=" " value="<%= email %>">
                        <label for="email">Email</label>
                    </div>
                    <div class="input">
                        <input type="text" name="prontuario" placeholder=" " value="<%= prontuario %>">
                        <label for="prontuario">Prontuário</label>
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn-primary">Salvar alterações</button>
                </div>
            </form>
        </div>
    </main>
</body>
